@charset "utf-8";
/* CSS Document */
h3{text-align:center;
}


body{
    background-color:#cccccc;
}
table {
    width: 15%;
    text-align:center;
}


td .sin{

    border:5px;
    text-align: left;

}

table .primera_fila{

    background-color:#ccccff;
}

.button{
    border:  rgb(44, 62, 80) 1px solid; font-size: 10pt; font-family: Verdana;
         background-color:#2C3E50; color:#ffffff; height:18pt
}

.submit{
    
    border:  rgb(44, 62, 80) 1px solid; font-size: 10pt; font-family: Verdana;
         background-color:#2C3E50; color:#ffffff; height:18pt
}

.text{
    text-align: center;
}

.input-background{
    background-color: #ffffff
}



